#content_detail.ui-corner-all.ui-widget-content
  h1.title
    = t('page.editing', :model => t('activerecord.models.inventory_file'))
  #content_list
    = form_for(@inventory_file) do |f|
      = f.error_messages
      .field
        = f.label :inventory_filename
        br
        = f.text_field :inventory_filename
      .field
        = f.label :inventory_content_type
        br
        = f.text_field :inventory_content_type
      .field
        = f.label :inventory_file_size
        br
        = f.text_field :inventory_file_size
      .field
        = f.label :inventory_fingerprint
        br
        = f.text_field :inventory_fingerprint
      .field
        = f.label :user_id
        br
        = f.text_field :user_id
      .field
        = f.label :note
        br
        = f.text_area :note
      .actions
        = f.submit
      - - end
#submenu.ui-corner-all.ui-widget-content
  ul
    li
      = link_to t('page.show'), @inventory_file
    li
      = link_to t('page.back'), inventory_files_path
