#content_detail.ui-corner-all.ui-widget-content
  h1.title
    = t('page.showing', :model => t('activerecord.models.inventory_file'))
  #content_list
    p#notice
      = notice
    p
      strong
        = t('activerecord.attributes.inventory_file.inventory_filename')
        |  :
      = @inventory_file.inventory_filename
    p
      strong
        = t('activerecord.attributes.inventory_file.inventory_content_type')
        |  :
      = @inventory_file.inventory_content_type
    p
      strong
        = t('activerecord.attributes.inventory_file.inventory_file_size')
        |  :
      = @inventory_file.inventory_file_size
    p
      strong
        = t('activerecord.attributes.inventory_file.inventory_fingerprint')
        |  :
      = @inventory_file.inventory_fingerprint
    p
      strong
        = t('activerecord.models.user')
        |  :
      = link_to @inventory_file.user.username, @inventory_file.user.profile if @inventory_file.user.try(:profile)
    p
      strong
        = t('activerecord.attributes.inventory_file.note')
        |  :
      = @inventory_file.note
#submenu.ui-corner-all.ui-widget-content
  ul.list-group
    li.list-group-item
      = link_to t('page.edit'), edit_inventory_file_path(@inventory_file)
    li.list-group-item
      = back_to_index(flash[:page_info])
