language: ruby
cache: bundler
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.5
  - 2.2.0
before_script:
  - mysql -e 'create database enju_test'
  - psql -c 'create database enju_test;' -U postgres
  - bundle exec rake db:migrate
services:
  - redis-server
gemfile:
  - gemfiles/rails3_2.gemfile
  - gemfiles/rails4_1.gemfile
  - gemfiles/rails4_2.gemfile
env:
  - DB=sqlite
  - DB=mysql
  - DB=postgresql
matrix:
  exclude:
  - rvm: 1.9.3
    gemfile: gemfiles/rails4_1.gemfile
  - rvm: 1.9.3
    gemfile: gemfiles/rails4_2.gemfile
  - rvm: 2.0.0
    gemfile: gemfiles/rails3_2.gemfile
  - rvm: 2.0.0
    gemfile: gemfiles/rails4_2.gemfile
  - rvm: 2.1.5
    gemfile: gemfiles/rails3_2.gemfile
  - rvm: 2.2.0
    gemfile: gemfiles/rails3_2.gemfile
notifications:
  slack:
    secure: duths/3pSH1nOJ5AKS8c8wdjnr906h5l6LYd+ONZzSqlR+oG1Z2+KuaIW0xVFucV4la1HEknXChWWuuHzU+Dsim5lhcIx42LNhQw6ZJwlanrre8jcdCzpWhs5j561PT733xRdrlxp8NvHGj/swbMo0OKXZ/A48+MH2xg1zpS4w4=
sudo: false
